<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>首页</title>
        <script src='https://unpkg.com/vue@3'></script>
        <style type="text/css">

        </style>
    </head>
    <body>
        <div id='hello-vue'>
            <input type="radio" value="Go" v-model="msg">Go课程</input>
            <input type="radio" value="Vue" v-model="msg">Vue课程</input>
        </div>
        <script type="text/javascript">
            const { ref,watch } = Vue
            const HelloVueApp = {
                setup() {
                    const msg = ref()
                    watch(msg,(newVal, oldVal) => {
                        console.log(msg.value, newVal, oldVal)
                    })
                    return {
                        msg
                    }
                }
            }
            Vue.createApp(HelloVueApp).mount('#hello-vue')
        </script>
    </body>
</html>